@import url('https://fonts.googleapis.com/css?family=Chivo:300,400,400i,700,700i');
body {
    font-family: 'Chivo', sans-serif;
    background-color: #ffffff;
    font-weight: normal;
    line-height: 1.2em;
}
#header {
    width: 100%;
    text-align: center;
    font-family: 'Chivo', sans-serif;
    padding: 80px 45px 55px 45px;
}
#nav {
    width: 70vw;
    margin: auto;
    text-align: left;
}
#links {
    width: 90px;
    position: fixed;
    background-color: blue;
}
.banner {
    width: 100%;
    background-color: grey;
    position: fixed;
    height: 40px;
    word-spacing: 15px;
    z-index: 60;
}
.banner-links {
    color: white;
    font-size: 16px;
    padding: 10px;
    margin-left: 15px;
}

.banner-links a:link, .banner-links a:visited, 
.banner-links a:active {
    color: #FFF;
}

.banner-links a:hover {
    opacity:0.8;
}

h1 {
    padding-bottom: 15px;
    color: #515151;
}
h2 {
    font-weight: normal;
    font-size: 1em;
    color: #727272;
    line-height: 1.4em;
}
h3 {
    margin-top: 1em;
    font-size: 1.5em;
}
h4 {
    color: #727272;
    font-weight: normal;
    font-size: 0.9em;
    padding-top: 5px;
}
p, ol, li {
    color: #333333;
    font-size: 1.1em;
    line-height: 1.4em;
}
.span {
    font-size: 0.8em;
    color: #727272;
}
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    width: 50vw;
}
.about-container {
    background-color: #F1F1F1;
    margin: 0 auto;
    padding: 3%;
    width: 70vw;
}
.bigcontainer {
    margin: 0 auto;
    width: 70vw;
}
.content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 5%;
}
.categories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col {
    flex: 0 0 20%;
    /*margin: 5px;*/
}
.title-bar {
    height: 38px;
    margin-top: -9px;
    border-radius:3px;
    display: flex;
}
.picture {
    max-width: 375px;
    max-height: 250px;
    width: 20vw;
    height: 13.33vw;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.pop:hover {
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.feature {
    width: 50vw;
    vertical-align: middle;
}
.big {
    width: 100vw;
    height: 33vw;
    max-height: 33vw;
    vertical-align: middle;
    padding-top: 40px;
}
a:link,
a:visited {
    color: black;
    text-decoration: none;
}
.project-title {
    font-size: 1.3em;
    font-weight: bold;
    padding-left: 9px;
    padding-bottom: 8px;
    align-self: flex-end;
}
.desc {
    color: #8c8c8c;
    font-size: 14px;
    padding-top: 9px;
    padding-bottom: 25px;
}
.topic {
    font-size: 1.3em;
    font-weight: bold;
}
.details {
    padding-top: 50px;
    width: 50vw;
}
.etc {
    padding:0 15px;
}
.bigger {
    padding: 50px 0 50px 0;
}
.caption {
    background-color: #e5e5e5;
    padding: 5px;
    font-style: italic;
    font-size: 0.9em;
}
.me {
    width: 250px;
    float: left;
    padding: 20px 20px 20px 0;
}
.footer {
    text-align: center;
    padding-bottom: 5%;
    font-size: 0.7em;
    word-spacing: 9px;
}

.footer a:link, .footer a:visited, 
.footer a:active {
    color: #727272;
}

.footer a:hover {
    color: black;
}

.credit {
    padding-top: 10px;
    word-spacing: 0.8px;
    color: #727272;
    font-size: 13px;
}

@media only screen and (min-width: 931px) and (max-width: 1400px) {
    .container,
    #nav {
        width: 70vw;
    }
    .picture {
        max-width: 60vw;
        max-height: 40vw;
        width: 30vw;
        height: 20vw;
    }
    .feature {
        width: 60vw;
        height: 40vw;
    }
    .details {
        width: 60vw;
    }
}
@media only screen and (max-width: 930px) {
    .container,
    #nav {
        width: 80vw;
    }
    .about-container {
        width: 80vw;
    }
    .categories {
        flex-direction: column;
        align-items: center;
    }
    .picture {
        max-width: 80vw;
        max-height: 53.33vw;
        width: 80vw;
        height: 53.33vw;
    }
    .feature {
        width: 80vw;
        height: 53.33vw;
    }
    .details {
        width: 80vw;
    }
}
.swiper-container {
        position: relative;
    width: 75vw;
    left: calc(-38vw + 50%);
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
}

* {
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
       -ms-box-sizing: border-box;
           box-sizing: border-box;
}

.misc-container {
  margin: 0 auto;
  margin-top: 30px;
  max-width: 900px;
}

.responsive-image {
  max-width: 100%;
}

.big-cell img {
  display: block;
  padding: 20px;
  width: 100%;
}

.cell img {
  display: block;
  padding: 20px;
}

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
   flex-wrap: wrap;
   flex-direction: row; 
  }
  .cell {
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(100% / 3);
  }
}

@media only screen and (max-width: 1000px) {
  .grid {
    display: flex;
   flex-direction: column; 
  }
    .responsive-image {
            margin: 0 auto;
        width: 80vw;
    }
}