@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
:root {
    /* Base font size */
    font-size: 10.5px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    width: 100%;
    min-height: 100vh;
    background-color: #fafafa;
    font-family: 'Karla';
}
h2 {
    font-size: 2.7em;
    letter-spacing: -0.8;
    font-weight: 700;
}
a {
    color: black;
    text-decoration: none;
}
#header {
    padding: 5% 0 5% 0;
    margin: auto;
    text-align: left;
}
#nav {
    margin: 0 auto;
}
#name {
    font-size: 2.2em;
}
#name,
#links {
    display: inline-block;
}
#links {
    float: right;
    font-size: 1.8em;
    word-spacing: 1em;
}
#links a:hover {
    opacity: 0.5;
}
.container {
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 2rem 2rem;
}
.projects {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
}
.project {
    flex: 1 0 24rem;
    margin: 1rem;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}
.project-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 400ms ease-out;
}
.project:hover .project-image {
    transform: scale(1.08);
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .6s ease;
    background-color: rgba(0, 0, 0, 0.5);
}
.project:hover .overlay {
    opacity: 1;
}
.text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.project-title {
    font-size: 2.2em;
    top: 35%;
    width: 100%;
}
.project-desc {
    font-size: 1.5em;
    top: 55%;
    width: 100%;
    padding: 2em;
    vertical-align: bottom;
}
.about-container {
    margin: 0 auto;
}
.me {
    float: left;
    margin-right: 25px;
}
.about-me {
    padding-right: 20px;
    font-size: 1.6em;
    line-height: 1.7em;
}

/*
browser supports css grid
*/

@supports (display: grid) {
    .projects {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
        grid-gap: 2rem;
    }
    .projects,
    .project {
        margin: 0;
    }
}
.footer {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1.2em;
    word-spacing: 9px;
}
.footer a:link,
.footer a:visited,
.footer a:active {
    color: #727272;
}
.footer a:hover {
    color: black;
}
.credit {
    padding-top: 10px;
    word-spacing: 1px;
    color: #727272;
    font-size: 16px;
}
@media only screen and (max-width: 600px) {
    #name {
        font-size: 2em;
    }
    #links {
        font-size: 1.5em;
    }
    h2 {
        font-size: 2em;
    }
    .me {
        float: none;
    }
}
